<div class="row">
  <div class="col-sm-12">
    <h3>Live Scores</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-8">

    <div class="row">
      <div class="col-md-4">
        <h3>Bombay</h3>
      </div>

      <div class="col-md-4">
        <h3>30-15</h3>

      </div>
      <div class="col-md-4">
        <h3>Jaipur</h3>

      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h3>Raider</h3>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:60%">
            13
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:80%">
            19
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <h3>Tackler</h3>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:60%">
            13
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:80%">
            19
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <h3>Best Raider(R)</h3>
        Anup Kumar 19(R)

      </div>

      <div class="col-md-2">
        <h3>Best Tackler(T)</h3>
        Surender Nada 21(T)

      </div>
    </div>

    <div class="table-responsive ">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th>Team 1</th>
          <th>R T</th>
          <th>R T</th>
          <th>Team 2</th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <td>anup kumar</td>
          <td>9 1</td>
          <td>3 2</td>
          <td>maninder singh</td>

        </tr>
        <tr>
          <td>suresh</td>
          <td>3 1</td>
          <td>2 2</td>
          <td>Navneet

        </tr>
        <tr>
          <td>anup kumar</td>
          <td>9 1</td>
          <td>3 2</td>
          <td>maninder singh</td>

        </tr>
        <tr>
          <td>suresh</td>
          <td>3 1</td>
          <td>2 2</td>
          <td>Navneet

        </tr>
        <tr>
          <td>anup kumar</td>
          <td>9 1</td>
          <td>3 2</td>
          <td>maninder singh</td>

        </tr>
        <tr>
          <td>suresh</td>
          <td>3 1</td>
          <td>2 2</td>
          <td>Navneet

        </tr>
        <tr>
          <td>anup kumar</td>
          <td>9 1</td>
          <td>3 2</td>
          <td>maninder singh</td>

        </tr>
        <tr>
          <td>suresh</td>
          <td>3 1</td>
          <td>2 2</td>
          <td>Navneet

        </tr>

        </tbody>
      </table>
      <table class="table table-condensed">
        <thead>
        <tr>
          <th>Subs 1</th>
          <th>R T</th>
          <th>R T</th>
          <th>Subs 2</th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <td>anup kumar</td>
          <td>9 1</td>
          <td>3 2</td>
          <td>maninder singh</td>

        </tr>
        <tr>
          <td>suresh</td>
          <td>3 1</td>
          <td>2 2</td>
          <td>Navneet

        </tr>
        <tr>
          <td>anup kumar</td>
          <td>9 1</td>
          <td>3 2</td>
          <td>maninder singh</td>

        </tr>
        <tr>
          <td>suresh</td>
          <td>3 1</td>
          <td>2 2</td>
          <td>Navneet

        </tr>
        <tr>
          <td>anup kumar</td>
          <td>9 1</td>
          <td>3 2</td>
          <td>maninder singh</td>

        </tr>
        <tr>
          <td>suresh</td>
          <td>3 1</td>
          <td>2 2</td>
          <td>Navneet

        </tr>

        </tbody>
      </table>

    </div>

  </div>


  <div class="table-responsive col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Points Table</div>

      <table class="table table-striped">
        <tr>
          <td>No</td>
          <td>Team Name</td>
          <td>P W L</td>
          <td>Points</td>
        </tr>
        <tr>
          <td>1</td>
          <td>U Mumba</td>
          <td>3 1 1</td>
          <td>14</td>
        </tr>
        <tr>
          <td>1</td>
          <td>U Mumba</td>
          <td>3 1 1</td>
          <td>14</td>
        </tr>
        <tr>
          <td>1</td>
          <td>U Mumba</td>
          <td>3 1 1</td>
          <td>14</td>
        </tr>
        <tr>
          <td>1</td>
          <td>U Mumba</td>
          <td>3 1 1</td>
          <td>14</td>
        </tr>
        <tr>
          <td>1</td>
          <td>U Mumba</td>
          <td>3 1 1</td>
          <td>14</td>
        </tr>
        <tr>
          <td>1</td>
          <td>U Mumba</td>
          <td>3 1 1</td>
          <td>14</td>
        </tr>
        <tr>
          <td>1</td>
          <td>U Mumba</td>
          <td>3 1 1</td>
          <td>14</td>
        </tr>



      </table>
      <div class="panel-heading">Fixtures & Results</div>

      <table class="table table-striped">

        <tr>
          <div class="row">

            <div class="table-responsive col-md-6">

              <td>Fixtures</td>
            </div>
            <div class="table-responsive col-md-6">
              <td>Results</td>
            </div>
          </div>
        <tr>
          <td>No</td>
          <td>Player Name</td>
          <td>Team Name</td>
          <td>Points</td>
        <tr>
          <td>1</td>
          <td>Anup</td>
          <td>U Mumba</td>
          <td>14</td>


      </table>
      <div class="panel-heading">Leadeboard</div>

      <table class="table table-striped">

        <tr>
          <div class="row">
            <div class="table-responsive col-md-6">


              <td>Raider</td>
            </div>
            <div class="row">
              <div class="table-responsive col-md-6">


                <td>Tackler</td>
              </div>
            </div>
            <tr>
              <td>No</td>
              <td>Player Name</td>
              <td>Team Name</td>
              <td>Points</td>
            <tr>
              <td>1</td>
              <td>Anup</td>
              <td>U Mumba</td>
              <td>14</td>


      </table>
    </div>
  </div>
</div>
</div>