<!-- For raid by raid info -->
<form name="raidInputFrm">
<div class="col-md-8 col-xs-12" ng-if="match != null">


  <h2>Raid by raid info</h2>
  <table class="table table-hover">
    <tr>
      <th>Raid No:</th>
      <td>{{gameData.raidNo}}</td>
    </tr>
    <tr>
      <th>Raiding team:</th>
      <td>{{gameData.raider.teamTitle}}</td>
    </tr>
    <!--tr>
      <th>Event:</th>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Result
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="event in events track by event._id">
              <a href="javascript:void(0)" ng-click="setEvent(event)">{{event.name}}</a>
            </li>
          </ul>
        </div>
      </td>
    </tr-->
  </table>

  <!-- Team lists -->
  <div class="row">

    <div class="col-md-6 col-xs-12">
      <table class="table table-condensed">
        <tr>
          <th>{{gameData.raider.teamTitle}} - Raiding Team</th>
          <th>Raider?</th>
        </tr>
        <tr ng-repeat="player in gameData.raider.players track by player._id">
          <td class="text-center">{{player | displayPlayerName}}</td>
          <td><button type="button" class="btn btn-block btn-default" ng-class="{'btn-success': gameData._raiderId == player._id}" ng-click="setRaider(player)">R</button></td>
        </tr>

      </table>
    </div>
    <div class="col-md-6 col-xs-12">
      <table class="table table-condensed">
        <tr>
          <th>{{gameData.defender.teamTitle}} -Defenders</th>
          <th>Touch</th><th>Tackled</th>
        </tr>
        <tr ng-repeat="player in gameData.defender.players track by player._id">
          <td class="text-center">{{player | displayPlayerName}}</td>
          <td><button type="button" class="btn btn-block btn-default" ng-class="{'btn-success': gameData.touches.indexOf(player._id) != -1}" ng-click="setTouch(player)">T</button></td>
          <td><button type="button" class="btn btn-block btn-default" ng-class="{'btn-success': gameData._tackledBy.indexOf(player._id) != -1}" ng-click="setTackle(player)">Tck</button></td>
        </tr>

        <tr><td colspan="3"><button type="button" class="active" ng-click="handleFormSubmit();">Submit Score</button></td></tr>
      </table>
    </div>
  </div>
  <!-- END Team lists-->



</div>
</form>
<!-- END raid by raid info -->
<!-- For Events -->
<div class="col-md-4 col-xs-12">
  <h2>Events</h2>
</div>
<!-- END events -->